hr {
    border-top: 1px solid #ababab;
}

.main {
    margin-left: 180px;
    padding: 50px;
}

.pucpucimage {
    width: 60px;
    display: block;
    margin: auto;
}

.weaponimage, .armorimage, .nightmareimage, .cardimage {
    width: 60px;
    display: block;
    margin: auto;
}

.typeimage, .elementimage {
    width: 25px;
    display: block;
    margin: auto;
}

.rankimage {
    width: 30px;
    display: block;
    margin: auto;
}

.labeltag {
    margin: 5px;
    background-color: #4b4642;
}

.modal-header {
    border-bottom: 1px solid black;
}

.modaltitle {
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: bold;
    width: 50%;
}

.modaldata {
    font-size: 14px;
    padding-bottom: 5px;
    width: 50%;
}

.modalimage {
    width: 60px;
}

.sidenav {
    height: 100%;
    width: 180px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 50px;
}

@media (min-width: 768px) {
    #page-wrapper {
      margin: 0;
      padding: 0;
    }
  }

.filterimage {
    width: 30px;
    display: block;
    margin: auto;
}

.filterbutton {
    width: 125px;
    display: block;
    margin: auto;
}

.filterbuttongroup {
    margin-top: 5px;
    margin-bottom: 5px;
}


.fontsetting {
    color: black;
    font-size: 16px;
}